.App {
  text-align: center;
}
button {
  width: 70px;
  height: 35px;
  font-size: 16px;
  color: white;
  background-color: #46494a;
  border: none;
  border-radius: 10px;
  margin: 5px;
  cursor: pointer;

}
button:hover {
  background-color: #9ee8e8;
  color: black;
}